#container{
    width: 90%;
    position: relative;
    margin: auto;
    padding:0;
}
#carouselExampleIndicators,
.carousel-item,
.carousel-inner,
.active{
    position: relative;
    height: 75vh;
}
.size{
    object-fit: contain !important;
}
#formContainer{
width: 90%;
position: relative;
    top: -150px;
display: flex;
flex-flow: row;
margin: auto;

}
.col-md-6{
    margin:0;
}
#formBox{
width: 30%;
color: blue;
position: relative;
margin:0;
padding:10px 0 10px;
height: 450px;
background:linear-gradient(360deg,#FCD116 10% , #FFFB64 100%);
}
form{
    width: 85%;
    margin: auto;
}
#dynamicForm{
display: flex;
width:70%;
position:relative;
border: 1px solid grey;
flex-direction: column;
}
#formHeader{
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;
    flex-flow: row;

   height: 50px;
    background-color: white;

}
.headeroptions{
    flex-basis: 33.33333%;
    border: 0.5px solid grey;
    background-color: #F3F3F3;

}
#formArea{
    width:100%;
    background-color: white;
    padding: 10px 0 10px;
    height:400px;
}
.headeroptions > a{
    color: #003893;
    font-size: 1.15rem;
}
#grabber{
    font-size: 1.15rem;
}
.activity{
    border-bottom: none;
    background-color: white;
}